<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="tests">
    <parameter name="testEnv" value="prod"/>
    <test name="Run test on chrome" >
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="TestScenario1"/>
        </classes>
    </test>
    <test name="Run test on firefox" >
        <parameter name="browserName" value="firefox"/>
        <classes>
            <class name="TestScenario2"/>
        </classes>
    </test>
</suite>